<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<!-- <div class="container" style="width: 80%; padding-left: 20%">
  <mat-tab-group>
    <mat-tab label="Login">
      <form class="example-form">
        <mat-form-field>
          <input type="text" matInput placeholder="Email" class="w-100" />
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="password" matInput placeholder="password" class="w-100" />
        </mat-form-field>
      </form>
    </mat-tab>
    <mat-tab label="Signup">
      <app-sign-up></app-sign-up>
    </mat-tab>
  </mat-tab-group>
</div> -->

<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Welcome To Exam Management System!</div>
  </div>
</header>
<router-outlet></router-outlet>
