<div class="Container">
  <form [formGroup]="loginform" method="post" action="">
    <h1 class="text-center"><b>LOG IN</b></h1>
    <div class="row">
      <mat-form-field>
        <input type="text" matInput placeholder="Username" formControlName="username" class="w-100" />
      </mat-form-field>
      <mat-error class="form-error" *ngIf="loginform.get('username')?.touched &&
      loginform.get('username')?.hasError('required')">
        Please enter a valid username
      </mat-error>
    </div>
    <div class="row">
      <mat-form-field class="mt-3">
        <input type="password" matInput placeholder="Password" formControlName="password" class="w-100" />
      </mat-form-field>
      <div class="form-error" *ngIf="
          loginform.get('password')?.touched &&
          loginform.get('password')?.hasError('required')">
        Password should contain minimum 4 characters
      </div>
    </div>
    
    New user? <a [routerLink]="['/sign-up']">
      <span>signup</span> </a>
    <br />
    <button type="submit" class="btn btn-primary btn-lg mt-3" (click)="Login()">Login</button>
    
    <div *ngIf="!isAuthenticated">Please check form for errors</div>
    
    
  </form>
  
</div>
