
<div class="container">  
    
    <h1> Edit User's Data </h1>
    <div class="text-center">
        <button type="button" class="btn btn-success ml-2" (click)="submit()">{{ isEditMode ? 'Update' :
            'Update' }}</button>
   
    <table class="table table-striped">  
      <thead>  
          <tr>  
            <th>ID</th>  
            <th>FirstName</th>  
            <th>MiddleName</th> 
            <th>LastName</th> 
            <th>DOB</th> 
            <th>Email</th> 
            <th>Adress</th>
            <th>Adhar</th> 
            <th>Country</th>  
            <th>State</th>   
            <th>phone</th>  
          </tr>  
      </thead>  
  
    <tbody>  
        <tr *ngFor="let user of users; let i = index"> 
            <td>{{i + 1}}</td> 
          <td>{{ user.id }}</td>  
          <td>{{ user.fname }}</td>  
          <td>{{ user.mname }}</td>
          <td>{{ user.lname }}</td> 
          <td>{{ user.dob }}</td> 
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>   
          <td>{{ user.adhar }}</td>  
          <td>{{ user.country }}</td>  
          <td>{{ user.state }}</td>  
          <td>{{ user.phone }}</td>  
          <button type="button" class="btn btn-success ml-2" (click)="edit(i)">Edit</button>
        </tr>  
      </tbody>  
    </table>  
  </div>  